@model MyBG.Models.PageModel
@{

}

<h1>@Model.Title</h1>
<p>@Model.Summary</p>
<img src="@Model.ReturnFile"/>
<p>@Model.TextBody</p>
<a asp-action="SubmissionApprove" asp-route-id="@Model.Id">Approve</a>
<a asp-action="SubmissionDecline" asp-route-id="@Model.Id">Decline</a>
<a asp-action="Submissions">Back</a>