@model PFPModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<img src="@Model.ReturnFile" class="userpage-pfp"/>
<div class="flex-div">
	<div class="inner-flex-element">
		<p class="page-username">@Model.UserName</p>
		<p class="page-nationality">Nationality: @Model.GetNationality</p>
		<p class="page-nationality">Role: @SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.FindByNameAsync(Model.UserName).Result).Result[0]</p>
		<a class="submit-a" asp-action="Users">View all users</a>
	</div>
	<div class="inner-flex-element">
		<div class="contrib-data">
			<p class="contrib-number">@Model.Contributions.Count</p>
			<p class="contrib-label">Contributions made </p>
			<a asp-action="ViewContributions" class="submit-a" asp-route-userName="@Model.UserName">View contributions</a>
		</div>
	</div>
</div>
@{
	if(SignInManager.IsSignedIn)
	{
		if(SignInManager.UserManager.GetUserAsync(User).Result.UserName == Model.UserName)
		{
			<a asp-action="Inbox" class="page-control-button">Inbox</a>
			<a asp-action="ViewSaved" class="page-control-button">My saved pages</a>
			<a href="~/Identity/Account/Manage" class="page-control-button">Change PFP</a>
			<a href="~/Identity/Account/Manage/ChangePassword" class="page-control-button">Change password</a>
			<a href="~/Identity/Account/Logout" class="page-control-button">Log out</a>
		}
	}
}		