@model PFPModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<div class="contrib-data">
	<img src="@Model.ReturnFile" class="userpage-pfp"/>
	<p class="page-username">@Model.UserName</p>
	<p class="page-nationality">@Model.GetNationality</p>
	<p class="contrib-number">@Model.Contributions.Count</p>
	<p class="contrib-label">Contributions made </p>
</div>
<a asp-action="ViewContributions" class="submit-a" asp-route-userName="@Model.UserName">View contributions</a>
<a class="submit-a" asp-action="Users">View all users</a>
@{
	if(SignInManager.UserManager.GetUserAsync(User).Result.UserName == Model.UserName)
	{
		<a asp-action="Inbox" class="page-control-button">Inbox</a>
		<a asp-action="ViewSaved" class="page-control-button">My saved pages</a>
		<a href="~/Identity/Account/Manage" class="page-control-button">Change PFP</a>
		<a href="~/Identity/Account/Manage/ChangePassword" class="page-control-button">Change password</a>
		<a href="~/Identity/Account/Logout" class="page-control-button">Log out</a>
	}
}