@model MyBG.Models.SavedPages;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> Manager


<h1>Your saved pages</h1>

<a class="link" asp-route-userName="@Manager.UserManager.GetUserAsync(User).Result.UserName" asp-action="UserPage">Back</a>

@{
	foreach(var pagey in Model.Pages)
	{
		if (pagey != null)
		{
			<div class="destinationDiv">
				<h3>@pagey.Title</h3>
				<p>@pagey.Summary</p>
                @if(pagey.IsCulture)
                {
                    <a asp-action="CulturePage" asp-controller="Page" class="submit-a" asp-route-id="@pagey.Id">View page</a>
                }
                else
                {
                    <a asp-action="PageViewer" asp-controller="Page" class="submit-a" asp-route-id="@pagey.Id">View page</a>
                }
            </div>
		}
	}
}