@model EditModel

<div>
	@if (Model.PageToEdit.IsCulture)
	{
		<a asp-action="CulturePage" class="link" asp-controller="Page" asp-route-id="@Model.PageToEdit.Id"><img src="~/Textures/arrow.png" class="back-icon" />  Back</a>
	}
	else
	{
		<a asp-action="PageViewer" class="link" asp-controller="Page" asp-route-id="@Model.PageToEdit.Id"><img src="~/Textures/arrow.png" class="back-icon" /> Back</a>
	}
	<h1>Submit a new page edit for page @Model.PageToEdit.Title</h1>
	<hr />
	<form asp-action="PostEdit" asp-route-pageId="@Model.PageModelKey" enctype="multipart/form-data" method="post">
		<label class="user-text">Text content</label>
		<textarea asp-for="@Model.NewText" class="message-area">@Model.NewText</textarea>
		<span asp-validation-for="NewText" class="text-danger"></span>
		<button type="submit" class="create-button">Submit edit</button>
	</form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}