@model EditModel

<div id="create-div">
	<a asp-action="ViewEdits" class="link" asp-route-pageId="@Model.PageToEdit.Id"><img src="~/Textures/arrow.png" class="back-icon" /> Back</a>
	<h1>Edit #@Model.PageIndex of page @Model.PageToEdit.Title</h1>
	<p class="post-username-title">Edit created by <a class="post-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@Model.UserCreated.UserName">@Model.UserCreated.UserName</a></p>

	<h3>Content before the edit</h3>
	@{
		if (Model.CreatePage)
		{
			<p>This edit created the page</p>
		}
		else
		{
			<p id="OldTextP">@Model.OldText</p>
		}
	}
	<h3>Content after the edit</h3>
	<p id="NewTextP">@Model.NewText</p>
</div>