@model EditModel

<div id="create-div">
	<a asp-action="ViewEdits" asp-route-pageId="@Model.PageToEdit.Id">Back</a>
	<h1>Edit #@Model.PageIndex of page @Model.PageToEdit.Title</h1>
	<p>Submission created by </p>
	<a class="comment-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@Model.UserCreated.UserName">@Model.UserCreated.UserName</a>

	<h3>Content before the edit</h3>
	@{
		if (Model.CreatePage)
		{
			<p>This submission created the page</p>
		}
		else
		{
			<p id="OldTextP">@Model.OldText</p>
		}
	}
	<h3>Content after the edit</h3>
	<p id="NewTextP">@Model.NewText</p>
</div>