@model MyBG.Models.PageModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<a asp-action="AllCulture" class="link backButton"><img src="~/Textures/arrow.png" class="back-icon" /> Back</a>
<div class="page-display">
	<h1>@Model.Title</h1>
	<div class="like-div">
		<div class="filler"></div>
		<form method="post" class="page-control like-container" asp-action="LikePost" asp-route-id="@Model.Id" enctype="multipart/form-data" asp-route-replyCount="@Model.CommenntsToDisplay">
			<div class="like-container">
				@{
					if (Model.LikedByUser)
					{
						<input type="image" class="page-icon" id="page-like" src="~/textures/like_star.png" />
					}
					else
					{
						<input type="image" class="page-icon" id="page-like" src="~/textures/unliked_star.png" />
					}	
					<p class="like-page-data">@Model.UsersLiked.Count</p>
				}
			</div>
		</form>
		@if (Model.Saved)
		{
			<a asp-action="SavePage" class="page-control" asp-controller="User" asp-route-pageId="@Model.Id"><input type="image" class="page-icon" src="~/textures/saved.png" /></a>
		}
		else
		{
			<a asp-action="SavePage" class="page-control" asp-controller="User" asp-route-pageId="@Model.Id"><input type="image" class="page-icon" src="~/textures/unsaved.png" /></a>
		}	
		<div class="filler"></div>
	</div>
	<img src="@Model.ReturnFile" id="page-image" />
	<p id="regionDisplay">@Model.CultureType</p>
	<p id="page-info">@Model.TextBody</p>
	<hr />
	<a asp-action="ViewEdits" asp-controller="Edit" asp-route-pageId="@Model.Id" class="editLink">View edit history</a>
	<a asp-controller="Edit" asp-action="CreateEdit" asp-route-pageId="@Model.Id" class="editLink">Submit an edit for this page</a>
	<hr />
</div>
<label for="commentInput" class="comment-label">Post a comment</label>
<form method="post" id="comment-post" asp-action="PostComment" asp-route-comment="@Model.Comment" asp-route-id="@Model.Id" asp-route-replyCount="@Model.CommenntsToDisplay" enctype="multipart/form-data">
		<textarea asp-for="Comment" oninput="hideCommentPost()" class="comment-area"></textarea>
		<span asp-validation-for="Comment" class="text-danger"></span>
		<br>
		<button type="submit" class="comment-button" id="upload-button">Upload comment</button>
</form>
@{
	int index = 0;
	int commentIndex = 0;
	foreach (CommentModel comment in Model.Comments)
	{
		<div class="comment-div-parent">
			<hr />
			<div class="comment-div">
				<div class="comment-user-data">
					<img src="@comment.PFP.ReturnFile" class="profile-pic">
				</div>
				<div class="comment-user-data-name">
					<a class="comment-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@comment.PFP.UserName">@comment.PFP.UserName</a>
				</div>
				<p class="comment-text-data">@comment.Text</p>
				<form asp-action="LikeComment" asp-route-id="@comment.Id" asp-route-pageid="@Model.Id" asp-route-replyCount="@Model.CommenntsToDisplay" class="comment-like-div">
					<p id="commentLikeData">@comment.LikedUser.Count</p>
					@if (comment.LikedByUser)
					{
						<input type="image" class="comment-icon" src="~/textures/like_star.png" />
					}
					else
					{
						<input type="image" class="comment-icon" src="~/textures/unliked_star.png" />
					}
				</form>
			</div>
			@if (SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
			{
				<a asp-action="DeleteComment" asp-controller="Admin" asp-route-id="@comment.Id" class="admin-button">Delete comment</a>
			}
			<p class="addReplyButt show-replies" onclick="showAddReply(@index)">Add a reply</p>
			<form class="replyForm" method="post"asp-action="PostReply" asp-controller="Forum" asp-route-isculture="true" asp-route-commentId="@comment.Id" asp-route-id="@Model.Id" enctype="multipart/form-data">
				<textarea asp-for="Comment" class="reply-area reply-box" oninput="hideReplyPost(@index)"></textarea>
				<span asp-validation-for="Comment" class="text-danger"></span>
				<button class="comment-button reply-post-button" type="submit">Post reply</button>
				<button class="comment-button" type="button" class="cancelReply" onclick="hideAddReply(@index)">Cancel</button>
			</form>
			<p class="hidden">@(index += 1);</p>
			<div class="repliesDiv">
				@foreach(CommentModel reply in comment.Replies)
				{
					<hr>
					<div class="flex-reply">
						<div class="comment-user-data">	
							<img src="@reply.PFP.ReturnFile" class="profile-pic">
						</div>
						<div class="comment-user-data-name">
							<a class ="comment-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@reply.PFP.UserName">@reply.PFP.UserName</a>
						</div>
						<p class="comment-text-data">@reply.Text</p>
						<form asp-action="LikeComment" asp-route-replyCount="@Model.CommenntsToDisplay" asp-route-pageid="@Model.Id" asp-route-id="@reply.Id" class="comment-like-div">
							<p id="commentLikeData">@reply.LikedUser.Count</p>
							@if (reply.LikedByUser)
							{
								<input type="image" class="comment-icon" src="~/textures/like_star.png" />
							}
							else
							{
								<input type="image" class="comment-icon" src="~/textures/unliked_star.png" />
							}
						</form>
					</div>
					@if(SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
					{
						<a asp-action="DeleteComment" asp-controller="Admin" asp-route-commentId="@reply.Id" asp-route-id="@Model.Id" class="admin-button">Delete comment</a>
					}
					<p class="addReplyButt show-replies" onclick="showAddReply(@index)">Add a reply</p>
					<form class="replyForm show-replies" method="post"asp-action="PostReply" asp-route-isculture="true" asp-controller="Forum" asp-route-commentId="@comment.Id" enctype="multipart/form-data">
						<textarea asp-for="Comment" class="reply-area reply-box" oninput="hideReplyPost(@index)"></textarea>
						<span asp-validation-for="Comment" class="text-danger"></span>
						<button class="comment-button reply-post-button" type="submit">Add a reply</button>
						<button class="comment-button" type="button" class="cancelReply" onclick="hideAddReply(@index)">Cancel</button>
					</form>
					<p class="hidden">@(index += 1);</p>
				}
			</div>
			@if(comment.Replies.Count > 0)
			{
				<p onclick="showHideReplies(@commentIndex)" class="show-replies showHideReplies">Show replies</p>
			}
			<p class="hidden">@(commentIndex += 1);</p>
	</div>
	}
	<input id="countInput" asp-for="@Model.CommenntsToDisplay" class="hidden"/>
	<p onclick="expand()" id="showMore">View 5 more comments</p>
}

<script src="~/js/site.js"></script>
<script src="~/js/mention.js"></script>
<script src="~/js/replyScript.js"></script>
<script src="~/js/showCommentsScript.js" onload="fillMentions()"></script>
<script src="~/js/hidePost.js"></script>
