@model MyBG.Models.PageModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<div class="page-display">
	<a asp-action="AllCulture">Back</a>
	<h1>@Model.Title</h1>
	<a asp-action="ViewEdits" asp-controller="Edit" asp-route-pageId="@Model.Id">View edit history</a>
	<div class="like-div">
		<form method="post" asp-action="LikePost" asp-route-id="@Model.Id" enctype="multipart/form-data" asp-route-replyCount="@Model.CommenntsToDisplay">
			<p class="page-info">Likes: @Model.UsersLiked.Count</p>
			@{
				if (Model.LikedByUser)
				{
					<button type="submit">Unlike</button>
				}
				else
				{
					<button type="submit">Like</button>
				}
			}
		</form>
		<a asp-action="SavePage" asp-controller="User" asp-route-pageId="@Model.Id">Save page</a>
	</div>
	<img src="@Model.ReturnFile" id="page-image" />
	<p id="regionDisplay">@Model.CultureType</p>
	<p id="page-info">@Model.TextBody</p>
	<a asp-controller="Edit" asp-action="CreateEdit" asp-route-pageId="@Model.Id">Submit an edit for this page</a>
	<form method="post" id="comment-post" asp-action="PostComment" asp-route-comment="@Model.Comment" asp-route-id="@Model.Id" asp-route-replyCount="@Model.CommenntsToDisplay" enctype="multipart/form-data">
		<textarea asp-for="Comment"></textarea>
		<span asp-validation-for="Comment" class="text-danger"></span>
		<button type="submit">Upload comment</button>
	</form>
</div>
@{
	int index = 0;
	int commentIndex = 0;
	foreach (CommentModel comment in Model.Comments)
	{
		<div class="comment-div">
			<img src="@comment.PFP.ReturnFile" class="profile-pic" class="comment-user-data">
			<div class="comment-user-data">
				<a class="comment-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@comment.PFP.UserName">@comment.PFP.UserName</a>
			</div>
			<p class="comment-text-data">@comment.Text</p>
			<form asp-action="LikeComment" asp-route-id="@comment.Id" asp-route-replyCount="@Model.CommenntsToDisplay" class="comment-like-div">
				<p id="commentLikeData">@comment.LikedUser.Count</p>
				<button type="Submit" id="commentLikeData">Like</button>
			</form>
			@if (SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
			{
				<a asp-action="DeleteComment" asp-controller="Admin" asp-route-id="@comment.Id">Delete comment</a>
			}
			<p class="addReplyButt" onclick="showAddReply(@index)">Add a reply</p>
			<form class="replyForm" method="post"asp-action="PostReply" asp-controller="Forum" asp-route-commentId="@comment.Id" enctype="multipart/form-data">
				<textarea asp-for="Comment" class="reply-area"></textarea>
				<span asp-validation-for="Comment" class="text-danger"></span>
				<button type="submit"></button>
				<button type="button" class="cancelReply" onclick="hideAddReply(@index)">Cancel</button>
			</form>
			@(index += 1);
			<div class="repliesDiv">
				@foreach(CommentModel reply in comment.Replies)
				{
					<img src="@reply.PFP.ReturnFile" class="profile-pic" class="comment-user-data">
					<div class="comment-user-data">
						<a class ="comment-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@reply.PFP.UserName">@reply.PFP.UserName</a>
					</div>
					<p class="comment-text-data">@reply.Text</p>
					<form asp-action="LikeComment" asp-route-id="@reply.Id" asp-route-replyCount="@Model.CommenntsToDisplay" class="comment-like-div">
						<p id="commentLikeData">@reply.LikedUser.Count</p>
						<span asp-validation-for="Comment" class="text-danger"></span>
						<button type="Submit" id="commentLikeData">Like</button>
					</form>
					@if(SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
					{
						<a asp-action="DeleteComment" asp-controller="Admin" asp-route-id="@reply.Id">Delete comment</a>
					}
					<p class="addReplyButt" onclick="showAddReply(@index)">Add a reply</p>
					<form class="replyForm" method="post"asp-action="PostReply" asp-controller="Forum" asp-route-commentId="@comment.Id" enctype="multipart/form-data">
						<textarea asp-for="Comment" class="reply-area"></textarea>
						<span asp-validation-for="Comment" class="text-danger"></span>
						<button type="submit"></button>
						<button type="button" class="cancelReply" onclick="hideAddReply(@index)">Cancel</button>
					</form>
					@(index += 1);
				}
			</div>
			<p onclick="showHideReplies(@commentIndex)" class="showHideReplies">Show replies</p>
			@(commentIndex += 1);
			<hr />
		</div>
	}
	<input id="countInput" asp-for="@Model.CommenntsToDisplay"/>
	<p onclick="expand()" id="showMore">View 5 more comments</p>
}
<script src="~/js/site.js"></script>
<script src="~/js/mention.js"></script>
<script src="~/js/reply.js"></script>
<script src="~/js/initDisplayMap.js" onload="fillMentions()"></script>
<script src="~/js/showComments.js"></script>
