@model MyBG.Models.PageModelContainer

@{
	ViewData["Title"] = "Home Page";
}

<form asp-action="Index" asp-route-displayType="@Model.DisplayType" asp-route-region="@((int)Model.Region)" id="searchField">
	<select asp-for="DisplayType" oninput="showOrHideSearch()" id="searchSelect">
		<option value="MostLikes">Most Likes</option>
		<option value="Region">Region</option>
		<option value="Search">Search</option>
	</select>
	<input asp-for="SearchString" id="search"/>
	<select asp-for="Region" oninput="showOrHideSearch()" id="regionSelect">
		<option value="0">Southwestern</option>
		<option value="1">Southern</option>
		<option value="2">Southeastern</option>
		<option value="3">Northwestern</option>
		<option value="4">Northern</option>
		<option value="5">Northeastern</option>
	</select>
	<button type="submit">Apply search setting</button>
	<a asp-action="Create" id="submit-a">Submit a destination</a>
</form>
@{
	foreach(var pagey in Model.Pages)
	{
		if (pagey != null)
		{
			<div class="destinationDiv">
				<h3>@pagey.Title</h3>
				<p>@pagey.Summary</p>
				<a asp-action="PageViewer" asp-route-id="@pagey.Id">View page</a>
			</div>
		}
	}
}
