@model MyBG.Models.PageModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<a asp-action="Index" class="link backButton"><img src="~/Textures/arrow.png" class="back-icon" /> Back</a>
<div class="page-display">
	<h1>@Model.Title</h1>
	<p id="regionDisplay">@Model.Summary</p>
	<div class="like-div">
		<div class="filler"></div>
		<form method="post" class="page-control like-container" asp-action="LikePost" asp-route-id="@Model.Id" enctype="multipart/form-data" asp-route-replyCount="@Model.CommenntsToDisplay">
			<div class="like-container">
				@{
					if (Model.LikedByUser)
					{
						<input type="image" class="page-icon" id="page-like" src="~/textures/like_star.png" />
					}
					else
					{
						<input type="image" class="page-icon" id="page-like" src="~/textures/unliked_star.png" />
					}	
					<p class="like-page-data">@Model.UsersLiked.Count</p>
				}
			</div>
		</form>
		@if (Model.Saved)
		{
			<a asp-action="SavePage" class="page-control" asp-controller="User" asp-route-pageId="@Model.Id"><input type="image" class="page-icon" src="~/textures/saved.png" /></a>
		}
		else
		{
			<a asp-action="SavePage" class="page-control" asp-controller="User" asp-route-pageId="@Model.Id"><input type="image" class="page-icon" src="~/textures/unsaved.png" /></a>
		}	
		<div class="filler"></div>
	</div>
	<img src="@Model.ReturnFile" id="page-image"/>
	<p id="regionDisplay">Region: @Model.Regions Bulgaria</p>
	<p id="regionDisplay">@Model.GetDestinationType</p>
	<p id="page-info">@Model.TextBody</p>
	<hr />
	<h2>How to get there</h2>
	@{
		foreach(TransportWay way in Model.TransportWays)
		{
			<p class="TransportWayDisplay">
				@switch(way.TransportWayType)
				{
					case (MyBG.Data.TransportWays)0:
						<img src="~/textures/car.png" class="page-way-icon" />
						break;
					case (MyBG.Data.TransportWays)1: 
						<img src="~/textures/train.png" class="page-way-icon" />
						break;
					case (MyBG.Data.TransportWays)2:
						<img src="~/textures/bus.png" class="page-way-icon" />
						break;
					case (MyBG.Data.TransportWays)3:
						<img src="~/textures/plane.png" class="page-way-icon" />
						break;
				}	
				@($" From {way.TransportOrigin}: {way.TransportTimeHours}:{(way.TransportTimeMinutes < 10? "0" + way.TransportTimeMinutes:way.TransportTimeMinutes)} hours")</p>
		}
	}
	<hr />
	<h2>@Model.Title displayed on a map</h2>
	<div id="map"></div>
	<input id="latInfo" value="@Model.Lat" class="hidden" />
	<input id="longInfo" value="@Model.Long" class="hidden" />
	<hr />
	<a asp-action="ViewEdits" asp-controller="Edit" asp-route-pageId="@Model.Id" class="editLink">View edit history</a>
	<a asp-controller="Edit" asp-action="CreateEdit" asp-route-pageId="@Model.Id" class="editLink">Submit an edit for this page</a>
	<hr>
</div>
<label for="commentInput" class="comment-label">Post a comment</label>
<form method="post" id="comment-post" asp-action="PostComment" asp-route-replyString="@Model.ReplyString" asp-route-scroll="@Model.Scroll" asp-route-comment="@Model.Comment" asp-route-id="@Model.Id" asp-route-replyCount="@Model.CommenntsToDisplay" enctype="multipart/form-data">
	<textarea oninput="hideCommentPost()" asp-for="Comment" class="comment-area"></textarea>
	<span asp-validation-for="Comment" class="text-danger"></span>
	<input asp-for="CommenntsToDisplay" id="comment-post-display-input" class="hidden" />
	<input asp-for="Scroll" id="comment-post-scroll-input" class="hidden" />
	<input asp-for="ReplyString" id="comment-post-string-input" class="hidden" />
	<br />
	<button type="submit" onclick="onPostComment()" class="comment-button" id="upload-button">Upload comment</button>
</form>
@{
	int index = 0;
	int commentIndex = 0;
	foreach (CommentModel comment in Model.Comments)
	{
		<input class="hidden" id="scrollData" />
		<div class="comment-div-parent">
			<hr />
			<div class="comment-div">
				<div class="comment-user-data">
					<img src="@comment.PFP.ReturnFile" class="profile-pic" />
				</div>
				<div class="comment-user-data-name">
					<a class="comment-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@comment.PFP.UserName">@comment.PFP.UserName</a>
				</div>
				<p class="comment-text-data">@comment.Text</p>
				<form method="post" asp-route-replyString="@Model.ReplyString" onsubmit="onLike(@index)" asp-route-forumId="@Model.Id" asp-route-scroll="@Model.Scroll" asp-action="LikeComment" asp-route-id="@comment.Id" asp-route-replyCount="@Model.CommenntsToDisplay" class="comment-like-div" enctype="multipart/form-data">
					<input asp-for="CommenntsToDisplay" class="comment-display-input hidden" />
					<input asp-for="Scroll" class="comment-scroll-input hidden" />
					<input asp-for="ReplyString" class="comment-reply-input hidden" />
					<p id="commentLikeData">@comment.LikedUser.Count</p>
					@if (comment.LikedByUser)
					{
						<input type="image" class="comment-icon" src="~/textures/like_star.png" />
					}
					else
					{
						<input type="image" class="comment-icon" src="~/textures/unliked_star.png" />
					}
				</form>
			</div>
			@if(SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
			{
				<a asp-action="DeleteComment" asp-controller="Admin" asp-route-id="@comment.Id" class="admin-button">Delete comment</a>
			}
			<p class="addReplyButt show-replies" onclick="showAddReply(@index)">Add a reply</p>
				<form class="replyForm" method="post"asp-action="PostReply" asp-route-replyString="@Model.ReplyString" asp-route-scroll="@Model.Scroll" asp-route-isculture="false" asp-controller="Forum" asp-route-commentId="@comment.Id" asp-route-id="@Model.Id" enctype="multipart/form-data">
					<textarea asp-for="Comment" class="reply-area reply-box" oninput="hideReplyPost(@index)"></textarea>
					<span asp-validation-for="Comment" class="text-danger"></span>
					<input asp-for="CommenntsToDisplay" class="reply-post-display-input hidden" />
					<input asp-for="Scroll" class="reply-scroll-input hidden"/>
					<input asp-for="ReplyString" class="reply-post-string-input hidden" />
					<button class="comment-button reply-post-button" type="submit" onclick="onPostReply(@index)">Post reply</button>
					<button class="comment-button" type="button" class="cancelReply" onclick="hideAddReply(@index)">Cancel</button>
				</form>
				<p class="hidden">@(index += 1);</p>
				<div class="repliesDiv">
					@foreach(CommentModel reply in comment.Replies)
					{
						<hr />
						<div class="flex-reply">
							<div class="comment-user-data">	
								<img src="@reply.PFP.ReturnFile" class="profile-pic">
							</div>
							<div class="comment-user-data-name">
								<a class ="comment-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@reply.PFP.UserName">@reply.PFP.UserName</a>
							</div>
							<p class="comment-text-data">@reply.Text</p>
							<form asp-action="LikeComment" asp-route-replyString="@Model.ReplyString" asp-route-replyCount="@Model.CommenntsToDisplay" asp-route-scroll="@Model.Scroll" asp-route-pageId="@Model.Id" asp-route-id="@reply.Id" class="comment-like-div" enctype="multipart/form-data">
								<input asp-for="CommenntsToDisplay" class="comment-display-input hidden" />
								<input asp-for="Scroll" value="32" class="comment-scroll-input hidden"/>
								<input asp-for="ReplyString" class="comment-reply-input hidden" />
								<p id="commentLikeData">@reply.LikedUser.Count</p>
								@if (reply.LikedByUser)
								{
									<input type="image" onclick="onLike(@index)" class="comment-icon" src="~/textures/like_star.png" />
								}
								else
								{
									<input type="image" onclick="onLike(@index)" class="comment-icon" src="~/textures/unliked_star.png" />
								}
							</form>
						</div>
						@if(SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
						{
							<a asp-action="DeleteComment" asp-controller="Admin" asp-route-id="@reply.Id" class="admin-button">Delete comment</a>
						}
						<p class="addReplyButt show-replies" onclick="showAddReply(@index)">Add a reply</p>
						<form class="replyForm" method="post"asp-action="PostReply" asp-route-replyString="@Model.ReplyString" asp-route-scroll=@Model.Scroll asp-route-commentId="@comment.Id" asp-route-id="@Model.Id" asp-route-isculture="false" asp-controller="Forum" asp-route-commentId="@comment.Id" enctype="multipart/form-data">
							<textarea asp-for="Comment" class="reply-area reply-box" oninput="hideReplyPost(@index)"></textarea>
							<input class="reply-post-display-input hidden" />
							<input asp-for="Scroll" class="reply-scroll-input hidden" />
							<input asp-for="ReplyString" class="reply-post-string-input hidden" />
							<span asp-validation-for="Comment" class="text-danger"></span>
							<button class="comment-button reply-post-button" type="submit" onclick="onPostReply(@index)">Post reply</button>
							<button class="comment-button" type="button" class="cancelReply" onclick="hideAddReply(@index)">Cancel</button>
						</form>
						<p class="hidden">@(index += 1);</p>
					}
				</div>
				@if(comment.Replies.Count > 0)
				{
					<p onclick="showHideReplies(@commentIndex)" class="showHideReplies show-replies">Show replies</p>
				}
				else
				{
					<p class="showHideReplies hidden"></p>
				}
				<p class="hidden">@(commentIndex += 1);</p>
		</div>
	}
	<input id="countInput" asp-for="@Model.CommenntsToDisplay" class="hidden"/>
	<input id="scrollInput" asp-for="@Model.Scroll" class="hidden"/>
	<input id="replyInput" asp-for="@Model.ReplyString" class="hidden"/>
	<p onclick="expand()" id="showMore" class="submit-a">View 5 more comments</p>
}

<input class="hidden" id="scrollValue" value="@(TempData["Scroll"])"/>
<script src="~/js/site.js"></script>
<script src="~/js/mention.js"></script>
<script src="~/js/replyScript.js"></script>
<script src="~/js/initDisplayMap.js" onload="fillMentions()"></script>
<script src="~/js/showCommentsScript.js"></script>
<script src="~/js/hidePost.js"></script>
<script src="~/js/scrollSet.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
