@model ForumQuestion
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<h1 id="forum-title">@Model.Title</h1>
<div class="comment-user-data">
	<p class="post-username-title">Post made by: </p>
	<a class="post-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@Model.Pfp.UserName">@Model.Pfp.UserName</a>
</div>
<hr>
<p class="forum-text">@Model.Text</p>
<p>@Model.LikedUser.Count</p>
<form asp-action="LikePost" asp-route-id="@Model.Id" method="Post">
	<button type="submit">Like</button>
</form>
<hr />
<form method="post" id="comment-post" asp-action="CommentPost" asp-route-id="@Model.Id" enctype="multipart/form-data" asp-route-replyCount="@Model.CommentCount">
	<label for="commentInput" class="comment-label">Post a comment</label>
	<br />
	<textarea class="comment-area" id="commentInput" asp-for="CommentCurrent"></textarea>
	<span asp-validation-for="Comment" class="text-danger"></span>
	<button type="submit" class="comment-button">Post a comment</button>
</form>
@{
	int index = 0;
	int commentIndex = 0;
	foreach (CommentModel comment in Model.Comment)
	{
		<div>
			<hr />
			<div class="comment-div">
				<div class="comment-user-data">
					<img src="@comment.PFP.ReturnFile" class="profile-pic" />
				</div>
				<div class="comment-user-data-name">
					<a class="comment-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@comment.PFP.UserName">@comment.PFP.UserName</a>
				</div>
				<p class="comment-text-data">@comment.Text</p>
				<form asp-action="LikeComment" asp-route-id="@comment.Id" class="comment-like-div">
					<p id="commentLikeData">@comment.LikedUser.Count</p>
					<button type="Submit" id="commentLikeData">Like</button>
				</form>
			</div>
			@if(SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
			{
				<a asp-action="DeleteComment" asp-controller="Admin" asp-route-id="@comment.Id" class="admin-button">Delete comment</a>
			}
			<p class="addReplyButt show-replies" onclick="showAddReply(@index)">Add a reply</p>
				<form class="replyForm" method="post"asp-action="PostReply" asp-controller="Forum" asp-route-commentId="@comment.Id" enctype="multipart/form-data">
					<textarea asp-for="Comment" class="reply-area"></textarea>
					<span asp-validation-for="Comment" class="text-danger"></span>
					<button class="comment-button" type="submit">Post reply</button>
					<button class="comment-button" type="button" class="cancelReply" onclick="hideAddReply(@index)">Cancel</button>
				</form>
				<p class="hidden">@(index += 1);</p>
				<div class="repliesDiv">
					@foreach(CommentModel reply in comment.Replies)
					{
						<hr />
						<div class="flex-reply">
							<div class="comment-user-data">	
								<img src="@reply.PFP.ReturnFile" class="profile-pic">
							</div>
							<div class="comment-user-data-name">
								<a class ="comment-username" asp-controller="User" asp-action="UserPage" asp-route-userName="@reply.PFP.UserName">@reply.PFP.UserName</a>
							</div>
							<p class="comment-text-data">@reply.Text</p>
							<form asp-action="LikeComment" asp-route-id="@reply.Id" class="comment-like-div">
								<p id="commentLikeData">@reply.LikedUser.Count</p>
								<button type="Submit" id="commentLikeData">Like</button>
							</form>
						</div>
						@if(SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
						{
							<a asp-action="DeleteComment" asp-controller="Admin" asp-route-id="@reply.Id" class="admin-button">Delete comment</a>
						}
						<p class="addReplyButt show-replies" onclick="showAddReply(@index)">Add a reply</p>
						<form class="replyForm" method="post"asp-action="PostReply" asp-controller="Forum" asp-route-commentId="@comment.Id" enctype="multipart/form-data">
							<textarea asp-for="Comment" class="reply-area"></textarea>
							<span asp-validation-for="Comment" class="text-danger"></span>
							<button class="comment-button" type="submit">Post reply</button>
							<button class="comment-button" type="button" class="cancelReply" onclick="hideAddReply(@index)">Cancel</button>
						</form>
						<p class="hidden">@(index += 1);</p>
					}
				</div>
				<p onclick="showHideReplies(@commentIndex)" class="show-replies showHideReplies">Show replies</p>
				<p class="hidden">@(commentIndex += 1);</p>
		</div>
	}
}

<script src="~/js/site.js"></script>
<script src="~/js/mention.js"></script>
<script src="~/js/reply.js"></script>
<script src="~/js/initDisplayMap.js" onload="fillMentions()"></script>
<script src="~/js/showCommentsScript.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

